@using Glass.Mapper.Sc.Web.Mvc
@using Book2017.Models
@using Sitecore.Links
@model Book2017.Models.IContent

@if (Model.Title.Trim() != "" || Sitecore.Context.PageMode.IsExperienceEditor)
{
    <h2 class="content-title">@Html.Glass().Editable(x => x.Title)</h2>
}

@if (Model.Content.Trim() != "" || Sitecore.Context.PageMode.IsExperienceEditor)
{
    <div class="content-body">
        @Html.Glass().Editable(x => x.Content)
    </div>
}
@if (Model.Notes.Trim() != "" || Sitecore.Context.PageMode.IsExperienceEditor)
{
	<div class="content-notes content-basicnotes">
        <div class="note-title">Notes:</div>
		@Html.Glass().Editable(x => x.Notes)
	</div>
}

@if (Model.InstructorNotes.Trim() != "" || Sitecore.Context.PageMode.IsExperienceEditor)
{
	<div class="content-notes content-instructornotes">
		<div class="note-title">Instructor Notes:</div>
		@Html.Glass().Editable(x => x.InstructorNotes)
	</div>
}

<div class="content-footer">
    @if (Model.Tags != null || Sitecore.Context.PageMode.IsExperienceEditor)
	{
		using (Html.Glass().BeginEditFrame<IContent>(Model, "Edit Tags", x => x.Tags))
		{
            <div class="content-tags">
                <ul>
                    @foreach (ITag tag in Model.Tags)
					{
                        <li>@tag.Name</li>
					}
                </ul>
            </div>
		}
	}

    <div class="content-version">
        Version: @Model.Version Updated: @Model.Updated.ToString("yyyy-MM-dd")
    </div>

    <div class="content-returnToSection">
        <a href="@LinkManager.GetItemUrl(Model.Parent)">Back to @Model.Parent.DisplayName</a>
    </div>
</div>