@using Sitecore.Data.Items
@using Sitecore.Links
@model Dictionary<string, List<Item>>

@foreach (var keyValuePair in Model)
{
    if (keyValuePair.Value.Count > 0)
    {
        <div class="index-header">
            @keyValuePair.Key
        </div>
        <table class="index-data table-striped">
            <thead>
            <tr>
                <td>Title</td>
                <td>Section</td>
            </tr>
            </thead>
            <tbody>
            @foreach (Item itm in keyValuePair.Value)
            {
                <tr>
                    <td class="item"><a href="@LinkManager.GetItemUrl(itm)">@itm.DisplayName</a></td>
                    <td class="section"><a href="@LinkManager.GetItemUrl(itm.Parent)">@itm.Parent.DisplayName</a></td>
                </tr>
            }
            </tbody>
        </table>
        
    }
}