@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Links
@model Book2017.Models.IPage

@if (Model.Title.Trim() != "")
{
    <h2 class="content-title">@Html.Glass().Editable(x => x.Title)</h2>
}

<div class="content-body">
    @Html.Glass().Editable(x => x.Content)
</div>

@Html.Sitecore().Placeholder("extracontent")

<div class="content-footer">
    @if (Model.ShowVersionInfo)
    {
        <div class="content-version">
            Version: @Model.Version Last Updated: @Model.Updated
        </div>
    }

    @if (Model.ShowParentLink)
    {
        <div class="content-returnToSection">
            <a href="@LinkManager.GetItemUrl(Model.Parent)">Back to @Model.Parent.DisplayName</a>
        </div>
    }
</div>